*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


# Build output in all submodules
**/build/

# Kotlin incremental compilation cache
.kotlin/

# ObjectBox generated model
**/objectbox-models/
