*.iml
.gradle
/local.properties
/.idea/**
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Build output in all submodules
**/build/

# Kotlin incremental compilation cache
.kotlin/

# ObjectBox generated model
**/objectbox-models/
